<h2>About</h2>

<p>
    Alekha is paltform where your can discover meaningful insights from your data. It has 
    an awesome chart creater capable of handling structured as well as unstructured data along with option to 
    create multiple charts, which you can export to your presentations, add them to your websites using html tags & wordpress plugins  
</p>

<h2>Future Scope (Coming Soon)</h2>
<p> More charts !</p>
<p> More connectors to connect live data</p>
<p> Access from mobile app</p>
<p> Library to integrate with any web based platform  </p>
<p> Plugin for CMS based websites </p>
